* {
    margin: 0;
}

body {
    background: rgb(120, 96, 64);
}

#formContainer {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 20px 1fr;
    background: white;
    border: 10px solid darkblue;
    border-radius: 20px;
    max-width: 600px;
    margin: 10px auto;
}

h1 {
    grid-area: 2 / 2 / 3 / 3;
}

img {
    width: 100%;
    grid-area: 1 / 1 / 3 / 11;
    z-index: 0;
}



